/* 1839 */
@media only screen and (max-width: 115em) {
  .onlyjoy__filteringBarContainer {
    width: 100%;
    display: flex;
    gap: 8rem;
    justify-content: center;
  }
}

/* 1663 */
@media only screen and (max-width: 103.9375em) {
  .onlyjoy__contributions {
    width: 45%;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 2rem;
    padding-right: 3rem;

    border-right: 1px solid black;
  }

  .onlyjoy__contributionsHeading {
    font-size: 2rem;
  }

  .onlyjoy__contributeIcons {
    gap: 0.2rem;
  }

  .onlyjoy__icon {
    gap: 1rem;
  }

  .onlyjoy__icon img {
    width: 2.8rem;
    height: 2.8rem;
  }
}

/* 1637 */
@media only screen and (max-width: 102.3125em) {
}
.onlyjoy__projectDetails {
  padding-left: 3.5rem;
}

/* 1583 */
@media only screen and (max-width: 103.9375em) {
  .onlyjoy__contributionsHeading {
    width: 100%;
  }
}

/* 1460 */
@media only screen and (max-width: 91.25em) {
  .onlyjoy__contributionsHeading {
    width: 100%;
    font-size: 1.8rem;
  }
}

/* 1433 */
@media only screen and (max-width: 89.5625em) {
  .onlyjoy__projectDetails {
    padding-left: 2.5rem;
  }

  .onlyjoy__howToUse ol {
    font-size: 1.8rem;
  }
}

/* 1368 */
@media only screen and (max-width: 85.5em) {
  .onlyjoy__howToUse p {
    width: 40%;
  }

  .onlyjoy__useSpecification p:first-child {
    width: 40%;
  }
}

/* 1326 */
@media only screen and (max-width: 82.875em) {
  .onlyjoy__matchCardContainer {
    gap: 2rem;
  }

  .onlyjoy__filteringBarContainer {
    gap: 4rem;
  }

  .onlyjoy__matchCard {
    width: 45rem;

    gap: 3rem;
  }

  .onlyjoy__matchDetails {
    gap: 2rem;
  }

  .onlyjoy__matchTeams {
    gap: 0rem;
  }

  .onlyjoy__matchScore {
    font-size: 6rem;
  }

  .onlyjoy__matchStatus {
    font-size: 1.8rem;
  }

  .onlyjoy__matchData {
    gap: 2rem;

    font-size: 1.8rem;
  }

  .onlyjoy__contributions {
    width: 50%;
  }
}

/* 1267 */
@media only screen and (max-width: 79.1875em) {
  .onlyjoy__contributions {
    width: 55%;
  }

  .onlyjoy__projectDetails {
    padding-left: 1rem;
  }

  .onlyjoy__icon a:link {
    font-size: 1.4rem;
  }
}

/* 1226 */
@media only screen and (max-width: 76.625em) {
  .onlyjoy__matchCard {
    width: 40rem;

    gap: 1.5rem;
  }

  .onlyjoy__matchDetails::before {
    height: calc(100% + 3rem + 38px);
    top: -34px;
  }

  .onlyjoy__matchDetails::after {
    height: calc(100% + 3rem + 38px);
    top: -34px;
  }

  .onlyjoy__team img {
    width: 10rem;
    height: 10rem;
  }
}

/* 1217 */
@media only screen and (max-width: 76.0625em) {
  .onlyjoy__contributionsHeading {
    width: 100%;
    font-size: 1.6rem;
  }

  .onlyjoy__howToUse p {
    width: 45%;
  }

  .onlyjoy__useSpecification p:first-child {
    width: 45%;
  }
}

/* 1134 */
@media only screen and (max-width: 70.875em) {
  .onlyjoy__projectDetails {
    padding-left: 0rem;
  }

  .onlyjoy__howToUse p {
    font-size: 2rem;
  }

  .onlyjoy__useSpecification p:first-child {
    font-size: 2rem;
  }
}

/* 1126 */
@media only screen and (max-width: 70.375em) {
  .onlyjoy__filteringBarContainer {
    gap: 2rem;
  }

  .onlyjoy__manageButtonBar {
    width: 17rem;

    gap: 1rem;
  }

  .onlyjoy__matchCardFilterBar {
    width: 54rem;
    height: 7rem;
    gap: 2rem;
  }

  .onlyjoy__matchCard {
    width: 35rem;

    gap: 1.5rem;
  }

  .onlyjoy__matchDetails::before {
    height: calc(100% + 3rem + 38px);
    top: -34px;
  }

  .onlyjoy__matchDetails::after {
    height: calc(100% + 3rem + 38px);
    top: -34px;
  }

  .onlyjoy__team img {
    width: 8rem;
    height: 8rem;
  }

  .onlyjoy__matchData {
    gap: 1.5rem;

    font-size: 1.7rem;
  }

  .onlyjoy__teamName {
    font-size: 1.5rem;
  }

  .onlyjoy__matchScore {
    font-size: 5rem;
  }

  .onlyjoy__matchStatus {
    font-size: 1.5rem;
  }
}

/* 1079 */
@media only screen and (max-width: 67.4375em) {
  .onlyjoy__copyright {
    font-size: 1.6rem;
    margin-top: 1.3rem;
  }
}

/* 1026 */
@media only screen and (max-width: 64.125em) {
  .onlyjoy__matchCard {
    width: 50rem;

    gap: 3rem;
  }

  .onlyjoy__matchDetails {
    gap: 3rem;
  }

  .onlyjoy__matchDetails::before {
    height: calc(100% + 6rem + 38px);
    top: -49px;
  }

  .onlyjoy__matchDetails::after {
    height: calc(100% + 6rem + 38px);
    top: -49px;
  }

  .onlyjoy__matchTeams {
    gap: 3rem;
  }

  .onlyjoy__team {
    width: 12rem;

    gap: 2rem;
  }

  .onlyjoy__team img {
    width: 12rem;
    height: 12rem;
  }

  .onlyjoy__teamName {
    font-size: 1.8rem;
  }

  .onlyjoy__teamPosition {
    font-size: 1.2rem;
    margin-top: -1.5rem;
  }

  .onlyjoy__matchScore {
    font-size: 8rem;
    margin-top: -4.5rem;
  }

  .onlyjoy__matchStatus {
    font-size: 2rem;
  }

  .onlyjoy__matchData {
    gap: 2.5rem;

    font-size: 2.1rem;
  }

  .onlyjoy__matchCardFilterBar {
    width: 55rem;
    height: 7rem;
    display: flex;
    gap: 2rem;
  }

  .onlyjoy__matchCardFilterBar img {
    width: 9%;
    height: 5rem;
  }

  .onlyjoy__filterForm {
    gap: 2rem;
  }
}

/* 929 */
@media only screen and (max-width: 58.0625em) {
  .onlyjoy__copyright {
    font-size: 1.3rem;

    margin-top: 1.3rem;
  }
}

/* 902 */
@media only screen and (max-width: 56.375em) {
  .onlyjoy__footer {
    flex-direction: column;
    gap: 5rem;
    padding: 1rem 0 5rem 0;

    margin-left: 2rem;
  }

  .onlyjoy__contributions {
    width: 94%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-left: 0rem;
    padding-right: 0rem;
    border-right: none;
  }

  .onlyjoy__contributionsHeading {
    width: 100%;
    font-size: 2.2rem;
  }

  .onlyjoy__icon a:link {
    font-size: 1.6rem;
  }

  .onlyjoy__projectDetails {
    width: 88%;
    gap: 5rem;
    padding-left: 0rem;
  }

  .onlyjoy__howToUse {
    width: 100%;
  }

  .onlyjoy__howToUse p {
    width: 50%;
    font-size: 2.8rem;
  }

  .onlyjoy__howToUse ol {
    width: 100%;
    font-size: 2.2rem;
    padding-left: 0.3rem;
  }

  .onlyjoy__useSpecification {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .onlyjoy__useSpecification p:first-child {
    width: 50%;
    font-size: 2.8rem;
  }

  .onlyjoy__useSpecification p:last-child {
    font-size: 2.2rem;
  }

  .onlyjoy__copyright {
    font-size: 1.8rem;
    margin-top: 1.5rem;
  }
}

/* 884 */
@media only screen and (max-width: 55.25em) {
  .onlyjoy {
    padding: 0 0;
  }
  .onlyjoy__header {
    width: 100%;
  }

  .onlyjoy__header a {
    width: 26.7rem;
    margin: 0 auto;
  }

  .onlyjoy__logo {
    width: 26.7rem;
    width: 100%;
    height: 14.2rem;
  }

  .onlyjoy__filteringBarContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .onlyjoy__manageButtonBar {
    width: 100%;
    justify-content: flex-end;
    height: 7rem;
    gap: 2rem;
    margin-right: 3.5rem;
  }

  .onlyjoy__manageButtonBar button {
    width: 14rem;

    font-size: 2.4rem;
  }

  .onlyjoy__manageButtonBar button:hover {
    font-size: 2.4rem;
  }

  .onlyjoy__footer {
    width: 100%;
    display: flex;

    padding: 1rem 8rem 5rem 8rem;
  }

  .onlyjoy__contributionsHeading {
    width: 100%;
    font-size: 2.2rem;
  }

  .onlyjoy__icon {
    gap: 1.5rem;
  }

  .onlyjoy__icon a:link {
    font-size: 1.8rem;
  }

  .onlyjoy__projectDetails {
    width: 100%;

    padding-left: 0rem;
  }

  .onlyjoy__howToUse p {
    width: 35%;
    font-size: 2.4rem;
  }

  .onlyjoy__howToUse ol {
    width: 100%;
    font-size: 2rem;
    padding-left: 0.3rem;
  }

  .onlyjoy__useSpecification p:first-child {
    width: 35%;
    font-size: 2.4rem;
  }

  .onlyjoy__useSpecification p:last-child {
    font-size: 1.9rem;
  }

  .onlyjoy__copyright {
    font-size: 1.8rem;
    margin-top: 1.5rem;
  }
}

/* 653 */
@media only screen and (max-width: 40.8125em) {
  .onlyjoy__contributionsHeading {
    width: 100%;
    font-size: 1.8rem;
  }

  .onlyjoy__icon {
    gap: 1rem;
  }

  .onlyjoy__icon a:link {
    font-size: 1.5rem;
  }

  .onlyjoy__howToUse p {
    width: 45%;
    font-size: 2.2rem;
  }

  .onlyjoy__howToUse ol {
    font-size: 1.8rem;
  }

  .onlyjoy__useSpecification p:first-child {
    width: 45%;
    font-size: 2.2rem;
  }

  .onlyjoy__useSpecification p:last-child {
    font-size: 1.8rem;
  }

  .onlyjoy__copyright {
    font-size: 1.5rem;
  }
}

/* 579 */
@media only screen and (max-width: 36.1875em) {
  .onlyjoy__matchCardFilterBar {
    width: 50rem;
    height: 7rem;
    gap: 0rem;
  }

  .onlyjoy__matchCardFilterBar img {
    display: none;
  }

  .onlyjoy__filterForm {
    padding-left: 2rem;
    gap: 3rem;
  }
}

@media only screen and (max-width: 32.6875em) {
  .onlyjoy__manageBookmarkTeamModal {
    width: 40rem;
    gap: 3rem;
    padding: 3rem 4rem;
  }

  .onlyjoy__manageTeamButtonBox {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .teamButton {
    font-size: 2.2rem;
    padding: 1rem 2rem;
  }

  .onlyjoy__currentTeamContainer {
    gap: 2rem;
  }

  .onlyjoy__currentTeamHeading {
    font-size: 3rem;
  }

  .onlyjoy__currentBookmarkTeamLists {
    gap: 2rem;
  }

  .onlyjoy__currentTeamList img {
    display: block;
    width: 3rem;
    height: 3rem;
  }

  .onlyjoy__currentTeamList span {
    font-size: 2.2rem;
  }

  .onlyjoy__currentTeamStatus {
    font-size: 2.6rem;
  }

  .onlyjoy__addTeamFormContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .onlyjoy__modalHeading {
    font-size: 3rem;
  }

  .onlyjoy__addTeamForm {
    gap: 2.5rem;
  }

  .onlyjoy__modalLeagueSelection {
    gap: 0.6rem;
  }

  .onlyjoy__selectionLabel {
    gap: 1.5rem;
  }

  .onlyjoy__selectionLabel img {
    width: 4rem;
    height: 4rem;
  }

  .onlyjoy__selectionLabel span {
    font-size: 2.6rem;
  }

  select option[disabled][selected] {
    display: none;
  }

  .onlyjoy__modalRestSelectionContainer {
    gap: 2.5rem;
  }

  .onlyjoy__modalTeamSelection,
  .onlyjoy__modalPlayerInput,
  .onlyjoy__modalLiveSelection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .onlyjoy__modalTeamSelection,
  .onlyjoy__modalPlayerInput,
  .onlyjoy__modalLiveSelection {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .onlyjoy__manageBookmarkYoutubeChannelModal {
    width: 40rem;
    gap: 3rem;
    padding: 3rem 4rem;
  }

  .onlyjoy__modalExitButton img {
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
  }

  .channelButton {
    font-size: 2.2rem;

    padding: 1rem 2rem;
  }

  .onlyjoy__currentYoutubeChannalHeading {
    font-size: 3rem;
  }

  .onlyjoy__currentYoutubeChannelList img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .onlyjoy__removeChannelFormContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .onlyjoy__removeChannelForm {
    gap: 2rem;
  }

  .onlyjoy__channelRemoveHeading {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .onlyjoy__channelRemoveHeading img {
    width: 4rem;
    height: 4rem;
  }

  .onlyjoy__channelRemoveHeading span {
    display: block;
    font-size: 2.6rem;
  }

  .onlyjoy__addChannelForm {
    gap: 2rem;
  }

  .onlyjoy__modalAddYoutubeChannelInput {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .onlyjoy__inputLabel {
    gap: 1.5rem;
  }

  .onlyjoy__inputLabel img {
    width: 4rem;
    height: 4rem;
  }

  .onlyjoy__inputLabel span {
    font-size: 2.6rem;
  }

  .onlyjoy__searchedYoutubeChannels {
    gap: 1.5rem;
  }

  .onlyjoy__searchedYoutubeChannelsHeading {
    font-size: 2.6rem;
  }

  .onlyjoy__searchedYoutubeChannelsRadioButtons {
    gap: 1.6rem;
  }

  .onlyjoy__searchedYoutubeChannelsRadioButton {
    gap: 1.5rem;
  }

  .onlyjoy__searchedYoutubeChannelButtonLabel {
    gap: 1.6rem;
  }

  .onlyjoy__modalButtonBox button {
    width: 100%;

    font-size: 1.7rem;

    padding: 0.3rem 0;
  }

  .onlyjoy__modalButtonBox button:hover {
    font-size: 1.8rem;
  }
}

/* 518 */
@media only screen and (max-width: 32.375em) {
  .onlyjoy__matchCardFilterBar {
    width: 38rem;
    height: 7rem;
  }
  .onlyjoy__filterForm {
    padding-left: 1rem;
    gap: 1rem;
  }

  .onlyjoy__filterSelect {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
  }

  .onlyjoy__manageButtonBar {
    width: 24rem;
  }

  .onlyjoy__banner {
    display: none;
  }

  .onlyjoy__matchCard {
    width: 40rem;

    gap: 3rem;
  }

  .onlyjoy__matchDetails {
    gap: 2rem;
  }

  .onlyjoy__matchTeams {
    gap: 0rem;
  }

  .onlyjoy__team img {
    width: 10rem;
    height: 10rem;
  }

  .onlyjoy__teamName {
    font-size: 1.6rem;
  }

  .onlyjoy__teamPosition {
    font-size: 1.2rem;
    margin-top: -1.5rem;
  }

  .onlyjoy__matchScore {
    font-size: 6rem;
  }

  .onlyjoy__matchStatus {
    font-size: 1.7rem;
  }

  .onlyjoy__matchData {
    gap: 2rem;

    font-size: 1.8rem;
  }

  .onlyjoy__footer {
    gap: 3rem;
    padding: 1rem 0rem 5rem 3rem;
    margin-left: 0;
  }

  .onlyjoy__icon a:link {
    font-size: 1.3rem;
  }

  .onlyjoy__howToUse p {
    width: 50%;
    font-size: 2rem;
  }

  .onlyjoy__howToUse ol {
    font-size: 1.8rem;
    padding-right: 4rem;
  }

  .onlyjoy__useSpecification p:first-child {
    width: 50%;
    font-size: 2rem;
  }

  .onlyjoy__useSpecification p:last-child {
    font-size: 1.8rem;
    padding-right: 2rem;
  }

  .onlyjoy__copyright {
    font-size: 1.5rem;
  }
}

/* 442 */
@media only screen and (max-width: 27.625em) {
  .onlyjoy__contributionsHeading {
    width: 100%;
    font-size: 1.5rem;
  }

  .onlyjoy__howToUse p {
    width: 40%;
    font-size: 1.8rem;
  }

  .onlyjoy__useSpecification p:first-child {
    width: 40%;
    font-size: 1.8rem;
  }

  .onlyjoy__copyright {
    margin-left: -2rem;
  }
}

/* 401 */
@media only screen and (max-width: 25.0625em) {
  .onlyjoy__matchCard {
    width: 35rem;

    gap: 2rem;
  }

  .onlyjoy__matchDetails {
    gap: 2rem;
  }

  .onlyjoy__matchDetails::before {
    height: calc(100% + 4rem + 38px);
    top: -39px;
  }

  .onlyjoy__matchDetails::after {
    height: calc(100% + 4rem + 38px);
    top: -39px;
  }

  .onlyjoy__team img {
    width: 8rem;
    height: 8rem;
  }

  .onlyjoy__teamName {
    font-size: 1.4rem;
  }

  .onlyjoy__teamPosition {
    font-size: 1.1rem;
  }

  .onlyjoy__matchScore {
    font-size: 5rem;
  }

  .onlyjoy__matchStatus {
    font-size: 1.6rem;
  }

  .onlyjoy__matchData {
    gap: 2rem;
    font-size: 1.7rem;
  }

  .onlyjoy__footer {
    padding: 1rem 2rem 5rem 2rem;
  }

  .onlyjoy__howToUse p {
    width: 50%;
  }

  .onlyjoy__useSpecification p:first-child {
    width: 50%;
  }

  .onlyjoy__copyright {
    margin-top: 0rem;
    font-size: 1.3rem;
  }

  .onlyjoy__manageBookmarkTeamModal {
    width: 37.5rem;
    padding: 2rem 3rem;
  }

  .onlyjoy__manageBookmarkYoutubeChannelModal {
    width: 37.5rem;
    padding: 2rem 3rem;
  }
}

/* 384 */
@media only screen and (max-width: 24em) {
  .onlyjoy__matchCardFilterBar {
    width: 35rem;
  }
  .onlyjoy__filterForm {
    padding-left: 1rem;
    gap: 1rem;
  }

  .onlyjoy__filterSelect {
    width: 35%;

    font-size: 2.4rem;
  }
}
