:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* font-family: "Do Hyeon", sans-serif; */
  font-family: "Black Han Sans", sans-serif;
}

.onlyjoy-landingPage {
  width: 100%;
  height: auto;
}

.onlyjoy__header {
}

.onlyjoy__main {
  width: 100%;
  height: auto;
}

.onlyjoy__banner {
  display: flex;
  gap: 2.5rem;
  animation: movingBackAndForth 20s infinite normal;
}

.onlyjoy__bannerItem {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.onlyjoy__bannerItem img {
  width: 4rem;
  height: 4rem;
}

.onlyjoy__bannerItem p {
  font-size: 3rem;
  text-transform: uppercase;
}

.onlyjoy__matchCardContainer {
  width: 100%;
  /* height: 50rem; */
  /* height 이거 없애자 추후에 수정.. */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.onlyjoy__settingContainer {
  width: 100%;
  display: flex;
  gap: 8rem;
  justify-content: center;
}

.onlyjoy__AddButtonBar {
  width: 15%;
  display: flex;
  gap: 2rem;
}

.onlyjoy__AddButtonBar button {
  /* font-family: "Black Han Sans", sans-serif; */
  width: 12rem;
  height: 100%;
  border: none;
  background-color: rgb(241, 239, 77);
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 2rem;

  /* height: 6rem; */
  cursor: pointer;
}

.onlyjoy__AddButtonBar button:hover {
  background-color: rgb(0, 0, 0, 0.4);
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 2.1rem;
}

.onlyjoy__matchCardFilterBar {
  width: 40%;
  height: 7rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  /* justify-content: center; */
  border: 1px solid rgb(0, 0, 0, 0.3);
  /* margin: 0 auto; */
}

.onlyjoy__matchCardFilterBar img {
  width: 10%;
  height: 6rem;
}

.onlyjoy__filterForm {
  width: 90%;
  height: 100%;
  display: flex;
  gap: 4rem;
}

.onlyjoy__select {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 3rem;
}

.onlyjoy__searchBtn {
  /* font-family: "Black Han Sans", sans-serif; */
  width: 20%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.onlyjoy__searchBtn:hover {
  background-color: rgb(0, 0, 0, 0.4);
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 2.1rem;
}

.onlyjoy__matchCards {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 3rem;
}

.onlyjoy__noTeamDescription {
  font-size: 10rem;
  margin: 0 auto;
}

.onlyjoy__match {
  width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.onlyjoy__matchRow {
  width: 100%;
}

.onlyjoy__matchRow span {
  display: block;
  font-size: 3rem;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}

.onlyjoy__matchRow span::before,
.onlyjoy__matchRow span::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.onlyjoy__matchRow span::before {
  right: 0.5em;
  margin-left: -50%;
}

.onlyjoy__matchRow span::after {
  left: 0.5em;
  margin-right: -50%;
}

.onlyjoy__matchRow:not(:first-child) .row-line {
  margin-top: 2rem;
}

.onlyjoy__matchDetails {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* padding: 0 7.5rem; */
  /* font-size: 3rem; */
}

.onlyjoy__matchTeams {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.onlyjoy__team {
  width: 12rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.onlyjoy__team img {
  width: 12rem;
  height: 12rem;
}
.onlyjoy__teamName {
  width: 120%;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

.onlyjoy__teamPosition {
  font-size: 1.2rem;
  margin-top: -1.5rem;
}

.onlyjoy__afterMatch {
  width: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}
.onlyjoy__duringMatch {
  width: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.onlyjoy__matchScore {
  display: block;
  font-size: 8rem;
  margin-top: -4.5rem;
}

.onlyjoy__matchStatus {
  text-align: center;
  font-size: 2rem;
}

.onlyjoy__beforeMatch {
  width: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.onlyjoy__matchReady {
  display: block;
  font-size: 6rem;
  margin-top: -2.5rem;
}

.onlyjoy__matchData {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 0 auto;
  font-size: 2.1rem;
  text-align: center;
}
.onlyjoy__matchTimes {
  font-size: 2.1rem;
}

.onlyjoy__matchBroadcasting {
}

.onlyjoy__matchYouTubeLiveBroadcasting {
}

.onlyjoy__matchWinner {
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.onlyjoy__addTeamModal {
  width: 50rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Do Hyeon", sans-serif;
  display: none;
}

.onlyjoy__modalExitButton {
  position: absolute;
  top: 1rem;
  left: 100%;
  transform: translate(-120%, 0);
}
.onlyjoy__modalExitButton img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.onlyjoy__modalHeading {
  font-size: 5rem;
}

.onlyjoy__teamModalForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.onlyjoy__ChannelModalForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.onlyjoy__modalYoutubeChannelInput {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.onlyjoy__addItemName {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.onlyjoy__addItemName img {
  width: 5rem;
  height: 5rem;
}

.onlyjoy__addItemName span {
  text-transform: uppercase;
  font-size: 3rem;
}

select option[disabled][selected] {
  display: none;
}

.onlyjoy__modalRestSelectionContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.onlyjoy__modalButtonBox {
  width: 100%;
}
.onlyjoy__modalButtonBox button {
  width: 100%;
}

/* youtube modal */
.onlyjoy__addYoutubeLiveStreamModal {
  width: 50rem;
  /* height: 60rem; */
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Do Hyeon", sans-serif;
  display: none;
}

.onlyjoy__ChannelHandlerInput {
  width: 100%;
}

.onlyjoy__searchedYoutubeChannels {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* .onlyjoy__searchedYoutubeChannels input{
  position: relative;
  z-index: 999;
} */

.onlyjoy__searchedYoutubeChannelsRadioButtons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* align-items: center; */
}

.onlyjoy__searchedYoutubeChannelsRadioButton {
  display: flex;
  gap: 2rem;
  /* align-items: center; */
}

/* input[type="radio"] {
  position: relative;
  z-index: 999;
}
label {
  position: relative;
  z-index: 999;
} */

.onlyjoy__searchedYoutubeChannelList {
}

.onlyjoy__searchedYoutubeChannelButtonLabel {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* spinner */
.spinner {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.spinner img:first-child {
  animation: movingUpAndDownForFirstItem 6s linear infinite both;
}

/* .spinner img:not(:first-child, :last-child) { */
.spinner img:nth-child(2) {
  animation: movingUpAndDownForSecondItem 18s linear infinite both;
}
/* .spinner img:last-child { */
.spinner img:nth-child(3) {
  animation: movingUpAndDownForThirdItem 18s linear infinite both;
}

.onlyjoy__matchCardError {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: center;
  padding: 10rem 0;
  font-size: 4rem;
}

.small {
  padding: 2rem 0;
  font-size: 2.5rem;
}

.onlyjoy__matchCardError img {
  /* display: block; */
  width: 12.8rem;
  height: 12.8rem;
}

.onlyjoy__errorMessage {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.small .onlyjoy__errorMessage {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.onlyjoy__errorMessage p {
  display: block;
  /* width: 85%; */
}

@keyframes movingBackAndForth {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(80px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* @keyframes movingUpAndDown {
  0% {
    opacity: 0;
    transform: rotate(0);
  }

  25% {
    transform: translateY(15px);
  }

  50% {
    opacity: 1;
    transform: rotate(0deg);
  }

  75% {
    transform: translateY(-15px);
  }

  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
} */

@keyframes movingUpAndDownForFirstItem {
  0% {
    opacity: 0;
  }

  25% {
    transform: translateY(15px);
  }

  50% {
    opacity: 1;
  }

  75% {
    transform: translateY(-15px);
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes movingUpAndDownForSecondItem {
  0%,
  33.33% {
    opacity: 0;
    transform: translateY(0px);
  }

  41.665% {
    transform: translateY(15px);
  }

  50% {
    opacity: 1;
  }

  58.335% {
    transform: translateY(-15px);
  }

  66.66% {
    opacity: 0;
    transform: translateY(0px);
  }

  74.995% {
    transform: translateY(15px);
  }

  83.33% {
    opacity: 1;
  }

  91.665% {
    transform: translateY(-15px);
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
@keyframes movingUpAndDownForThirdItem {
  0%,
  66.66% {
    opacity: 0;
    transform: translateY(0px);
  }

  74.995% {
    transform: translateY(15px);
  }

  83.33% {
    opacity: 1;
  }

  91.665% {
    transform: translateY(-15px);
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
