:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Black Han Sans", sans-serif;
}

.onlyjoy-landingPage {
  width: 100%;
  height: auto;
}

.onlyjoy__header {
}

.onlyjoy__main {
  width: 100%;
  height: auto;
}

.onlyjoy__banner {
  display: flex;
  gap: 2.5rem;
  animation: movingBackAndForth 20s infinite normal;
}

.onlyjoy__bannerItem {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.onlyjoy__bannerItem img {
  width: 4rem;
  height: 4rem;
}

.onlyjoy__bannerItem p {
  font-size: 3rem;
  text-transform: uppercase;
}

.onlyjoy__matchCardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.onlyjoy__match {
  width: 50rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  /* background-color: yellowgreen; */
  /* padding: 0 5rem; */

  /* border-radius: 10px; */
  /* 임시 background-color 설정 */
  /* background-color: blue; */
  /* background-color: yellow; */
}

.onlyjoy__matchRow {
  width: 100%;
}

.onlyjoy__matchRow span {
  display: block;
  font-size: 3rem;
  overflow: hidden;
  text-align: center;
}

.onlyjoy__matchRow span::before,
.onlyjoy__matchRow span::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.onlyjoy__matchRow span::before {
  right: 0.5em;
  margin-left: -50%;
}

.onlyjoy__matchRow span::after {
  left: 0.5em;
  margin-right: -50%;
}

.onlyjoy__matchRow:not(:first-child) .row-line {
  margin-top: 2rem;
}

.onlyjoy__matchDetails {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* padding: 0 7.5rem; */
  /* font-size: 3rem; */
}

.onlyjoy__matchTeams {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.onlyjoy__team {
  width: 12rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.onlyjoy__team img {
  width: 12rem;
  height: 12rem;
}
.onlyjoy__teamName {
  width: 120%;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

.onlyjoy__teamPosition {
  font-size: 1.2rem;
  margin-top: -1.5rem;
}

.onlyjoy__afterMatch {
  width: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.onlyjoy__matchScore {
  display: block;
  font-size: 8rem;
  margin-top: -4.5rem;
}

.onlyjoy__matchStatus {
  text-align: center;
  font-size: 2rem;
}

.onlyjoy__beforeMatch {
  width: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.onlyjoy__matchReady {
  display: block;
  font-size: 6rem;
  margin-top: -2.5rem;
}

.onlyjoy__matchData {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 0 auto;
  font-size: 2.1rem;
  text-align: center;
}
.onlyjoy__matchTimes {
  font-size: 2.1rem;
}

.onlyjoy__matchBroadcasting {
}

.onlyjoy__matchYouTubeLiveBroadcasting {
}

.onlyjoy__matchWinner {
}

.spinner {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.spinner img:first-child {
  animation: movingUpAndDownForFirstItem 6s linear infinite both;
}

.spinner img:not(:first-child, :last-child) {
  animation: movingUpAndDownForSecondItem 18s linear infinite both;
}
.spinner img:last-child {
  animation: movingUpAndDownForThirdItem 18s linear infinite both;
}

@keyframes movingBackAndForth {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(80px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* @keyframes movingUpAndDown {
  0% {
    opacity: 0;
    transform: rotate(0);
  }

  25% {
    transform: translateY(15px);
  }

  50% {
    opacity: 1;
    transform: rotate(0deg);
  }

  75% {
    transform: translateY(-15px);
  }

  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
} */
@keyframes movingUpAndDownForFirstItem {
  0% {
    opacity: 0;
  }

  25% {
    transform: translateY(15px);
  }

  50% {
    opacity: 1;
  }

  75% {
    transform: translateY(-15px);
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes movingUpAndDownForSecondItem {
  0%,
  33.33% {
    opacity: 0;
    transform: translateY(0px);
  }

  41.665% {
    transform: translateY(15px);
  }

  50% {
    opacity: 1;
  }

  58.335% {
    transform: translateY(-15px);
  }

  66.66% {
    opacity: 0;
    transform: translateY(0px);
  }

  74.995% {
    transform: translateY(15px);
  }

  83.33% {
    opacity: 1;
  }

  91.665% {
    transform: translateY(-15px);
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
@keyframes movingUpAndDownForThirdItem {
  0%,
  66.66% {
    opacity: 0;
    transform: translateY(0px);
  }

  74.995% {
    transform: translateY(15px);
  }

  83.33% {
    opacity: 1;
  }

  91.665% {
    transform: translateY(-15px);
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}
